<div class="card">
    <div class="card-header">
        About {{project.name}}
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-4">
                        {% if project.avatar_url %}
                        <img class="project-profile-img" src="/assets/img/projects/{{project.avatar_url}}" alt="{{project.name}}" />
                      {% else %}
                        <img class="project-profile-img" src="{{site.url}}/assets/img/projects/{{project.avatar}}" alt="{{project.name}}" />
                      {% endif %}
                </div>
                <div class="col-md-6">
                        <p class="project_bio">{{project.bio}}</p>
                </div>
        </div>
    </div>
</div>
